<footer class="rodape-container">
    <div id="contact" class="rodape">
        <h2 class="heading-rodape">Entre em contato</h2>
        <div class="contatos-container">
            <div class="links-contato">
                <p class="link-contato">Telefone: <a href="#telefone" class="link-link-contato">(99) 99999-9999</a>
                </p>
                <p class="link-contato">Email: <a href="#email" class="link-link-contato">gamemania@email.com.br</a>
                </p>
            </div>
            <a href="#location" class="link-link-contato"><img src="../../assets/img/location.png" alt="Localização Game Mania"
                    class="img-rodape">
            </a>
        </div>
        <div onclick="scrollToTop()" class="voltar-topo"><img class="arrowup" src="../../assets/img/arrowup.svg" alt="Voltar topo"></div>
    </div>
</footer>