<header>
    <nav class="navbar">
        <input type="checkbox" id="check">
        <a class="logo" routerLink="/">
            <img class="logo-img" src="../../assets/img/logo.png">
            GAMEMANIA
        </a>
        <div class="nav-list">
            <a class="nav-item" href="#aboutus">Sobre Nós</a>
            <a class="nav-item" href="#contact">Contato</a>
            <a class="nav-item login-button" routerLink="/login">Login</a>
        </div>
        <label for="check" class="check-btn">
            <fa-icon [icon]="faBars"></fa-icon>
        </label>
    </nav>
</header>