<main class="login">
    <div class="login-container">
        <div class="login-window">
            <h3 class="login-heading">Login</h3>
            <form class="login-form" action="" method="get">
                <div class="form-inputs">
                    <div class="username">
                        <label for="username" class="form-label">Username</label>
                        <input class="form-input" id="username" type="text">
                    </div>
                    <div class="password">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-input" id="password" type="text">
                    </div>
                </div>
                <button class="button login-submit" type="submit">Login</button>
                <button class="button signup" type="button">Sign up</button>
            </form>
        </div>
    </div>
</main>