<section id="aboutus" class="sobre-nos-container">
    <div class="sobre-nos">
        <h2 class="heading-sobre-nos">Sobre nós</h2>
        <p class="texto-sobre-nos">Somos apaixonados por jogos e tecnologia, oferecendo uma experiência
            personalizada
            e de alta qualidade. Nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos e
            inovação. <br>Se você compartilha da nossa paixão, você está no lugar certo. <br>Junte-se a nós e
            embarque nessa
            jornada repleta de descobertas, emoções e experiências incríveis.</p>
    </div>
</section>
