<main class="promocoes-container">
    <div class="promocoes">
        <h2 class="slogan">Os melhores artigos tecnológicos pra você!</h2>
        <h3 class="heading-promocoes">Nossas promoções de hoje</h3>

        <div class="produtos">
            <div class="produto" *ngFor="let produto of produtos">
                <img class="imagem-produto" src="../../assets/img/{{produto.foto}}" alt="Produto">
                <div class="desc-produto">
                    <p class="nome-produto">{{produto.produto}}</p>
                    <p class="preco-produto">{{produto.preco}}</p>
                    <a href="#" class="comprar-produto">Comprar</a>
                </div>
            </div>
        </div>
        <h3 class="link-catalogo"><a class="router-catalogo" routerLink="/">Catálogo</a></h3>

    </div>
</main>