:root {
    --light-blue: #9AC9F5ff;
    --blue: #1660f3;
    --dark-blue: #174db7;
    --darkest-blue: #0f3070;
    --orange: #ED6F27;
    --green: #3F976D;
    --white: #ffffff;

    --light-gray: #414141;
    --mid-gray: #353535;
    --dark-gray: #292929;

    --radius: 3px;
}

.promocoes-container {
    min-width: 100vw;
    max-width: 100vw;
    max-height: fit-content;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.promocoes {
    height: 90%;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.slogan {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 25px 0;
    padding: 15px;
    background-color: #1660f3;
    border-radius: 3px;
}

.heading-promocoes {
    max-width: 80%;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 25px 0 0 0;
    padding: 15px;
    background-color: #3F976D;
    border-radius: 3px;
}

.link-catalogo {
    max-width: 80%;
    text-align: center;
    margin: 25px 0 0 0;
    padding: 5px;
    background-color: #3F976D;
    border-radius: 3px;
    cursor: pointer;
}

.router-catalogo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.produtos {
    width: 80%;
    margin: 50px 0;
    padding: 0 50px;
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
    color: #000000;
}

.produto {
    margin: 0 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.imagem-produto {
    width: 100%;
    overflow: hidden;
}

.desc-produto {
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-produto {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.preco-produto {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.comprar-produto {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.comprar-produto:hover {
    transition: 350ms;
    color: #ED6F27;
}

/* RESPONSIVIDADE */

@media (max-width: 1400px) {
    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-row-gap: 50px;
        grid-column-gap: 75px;
    }
    .produto {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1250px) {
    .slogan {
        font-size: 32px;
    }

    .heading-promocoes {
        font-size: 24px;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-row-gap: 50px;
        grid-column-gap: 75px;
    }
}

@media (max-width: 858px) {
    .slogan {
        font-size: 28px;
    }
    
    .produtos {
        display: grid;
        grid-template-columns: repeat(1, 45%);
        grid-row-gap: 50px;
        grid-column-gap: 75px;
    }
}